* {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
a,
em,
img,
strong,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer,
header,
nav,
section {
  display: block;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  background: var(--background);
  font-family: "Georgia", serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  padding: 0.75rem;
  color: var(--foreground);
}

input,
button {
  appearance: none;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  font-family: monospace;
}

ol,
ul {
  list-style: none;
}

#app {
  max-width: var(--max-container-width);
  width: 100%;
}

a {
  text-decoration: underline;
  color: var(--foreground);
}

strong {
  font-weight:  700;
}

em {
  font-style: italic;
}
