.autocomplete__fieldset {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: stretch;
}

.autocomplete__label {
  font-size: var(--h5-text-size);
  line-height: 1.309;
  margin: 0 0 1rem;
  text-align: center;
  display: block;
  font-weight: bold;
  cursor: pointer;
}

.autocomplete__field {
  background: var(--foreground);
  color: var(--background);
  font-size: var(--h4-text-size);
  line-height: 1;
  text-align: center;
  appearance: none;
  border: 0;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-family: "Georgia", serif;
  margin: 0 0 1rem;
}

.autocomplete__result {
  text-align: center;
  margin: 0 0 .5ch;
  font-size: var(--h5-text-size);
}

.autocomplete__spinner {
  animation: rotate 2s linear infinite;
  margin: 0 auto;
  width: 3.125rem;
  height: 3.125rem;
  display: none;
}

.autocomplete__spinner.show {
  display: block;
}

.autocomplete__spinner__path {
  stroke: var(--foreground);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
